body {
    background-color: var(--gray-600);
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

.wrapper {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-700);
    height: 12.5rem;
}

.input {
    height: 3.375rem;
    padding: 1rem;
    background-color: var(--gray-500);
    border: 1px solid;
    border-color: var(--gray-700);
    border-radius: 8px;
    color: var(--gray-100);
}

.input::placeholder {
    color: var(--gray-300);
}

.input:focus-visible {
    outline-style: solid;
    outline-color: var(--purple-600);
}

.button {
    background-color: var(--blue-600);
    height: 3.25rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-100);
    border: none;
    transition: 0.2s;
}

.button:hover {
    background-color: var(--blue-300);
    cursor: pointer;
}

.trashIcon {
    color: var(--gray-300);
    padding: 0.3125rem;
    cursor: pointer;
    border-radius: 4px;
    width: 1.5rem;
    height: 1.5rem;
}

.trashIcon:hover {
    color: var(--red-300);
    background-color: var(--blue-400);
}

.radioLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Checkbox {
    /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.CheckboxSpan {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    height: 25px;
    width: 25px;
    /* background-color: #eee; */
    border: 2px solid;
    border-color: var(--blue-600);
    border-radius: 50%;
}

.CheckboxLabel:hover input ~ .CheckboxSpan {
    /* opacity: 0.2; */
    background-color: rgba(30, 111, 159, .2);
    border-color: var(--blue-300);
}

.CheckboxLabel input:checked ~ .CheckboxSpan {
    background-color: var(--purple-300);
    border: none;
}

.CheckboxLabel input:checked ~ .CheckboxSpan:hover {
    background-color: none;
    background-color: var(--purple-600);
    border: none;
}

.CheckboxSpan::after {
    content: "";
    position: absolute;
    display: none;
}

.CheckboxLabel input:checked ~ .CheckboxSpan:after {
    display: block;
}

.CheckboxLabel .CheckboxSpan:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--gray-100);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}